*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anta', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: rgb(202, 245, 207);
  }
  html::-webkit-scrollbar-thumb {
    background: #00a0c3;
  }

form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 75px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    background: #eee;
    font-size: 18px;
}

form a:hover{
    transition: .2s ease-in-out;
    color: rgb(220, 0, 0);
}


.logo i{
    font-size: 32px;
    color: rgb(220, 0, 0);
}

.logo :hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    color: black;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a{
    color: gray;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
   
.search{
    width: 800px;
    height: 50px;
    background: #e4e4e4;
    border-radius: 80px;
}

.search i{
    color: gray;
}

.search input{
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 10px;
    font-family: "Poppins";
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    font-size: 26px;
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}

.icons :hover{
    transition: .2s ease-in-out;
    color: rgb(220, 0, 0);
}

/*=========================DROPDOWN=========================*/

.dropdown{
    position: relative;
    cursor: pointer;
}
.dropdown > a{
    display: flex;
    align-items: center;
    gap: 2px;
    height: 75px;
    text-decoration: none;
}
.dropdown:hover .menu{
    opacity: 1;
    visibility: visible;
}
.menu > a{
    font-size: 16px;
    color: gray;
    padding: 8px 14px;
    text-decoration: none;
    text-align: left;
}
.menu > a:hover{
    background: #f5f5f5;
}
.menu{
    position: absolute;
    top: 60px;
    right: -10px;
    display: grid;
    width: 180px;
    padding: 8px 0;
    background: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 40px 40px rgb(0, 0, 0 / 6%);
    opacity: 0;
    border-radius: 8px;
    visibility: hidden;
    transition: 0.25s;
}
.menu::before{
    content: "";
    background: inherit;
    border-top: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    position: absolute;
    top: -7px;
    right: 22px;
    width: 12px;
    height: 12px;
    rotate: -45deg;
}


.search-results{
    width: 1400px;
    margin: 10px auto;
    columns: 4;
    column-gap: 20px;
}
.search-results .search-result{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}
.search-results img{
    transition: .2s ease-in-out;
}
.search-results img:hover {
    opacity: 1;
    filter: brightness(.7);
}
.search-results .search-result img{
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
body{
    background-attachment: fixed;
}



.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.3s;
    color: #fff;
    z-index: 2;
}


#show-more-button{
    background-color: #00bfff;
    font-size: 18px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    display: center;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1200px){
    .search-results{
        width: calc(100% - 40px);
        columns: 3;
    }
}
@media (max-width: 768px){
    .search-results{
        columns: 2;
    }
}
@media (max-width: 480px){
    .search-results{
        columns: 1;
    }
}


/*======================= Explore Page =======================*/


/*============= Privacy Policy ===============*/

.policy{
    width: 100%;
    padding: 35px 20%;
}
.policy h1{
    margin-bottom: 18px;
    font-size: 50px;
    font-family: "Anta";
}
.policy p{
    color: #333;
    font-size: 16px;
    font-family: "Poppins";
}
.policy li{
    color: #333;
    font-size: 16px;
}

@media (max-width: 1200px){
    .policy p{
        font-size: 14px;
    }
    .policy h1{
        font-size: 30px;
    }
}
@media (max-width: 768px){
    .policy p{
        font-size: 14px;
    }
    .policy h1{
        font-size: 25px;
    }
}
@media (max-width: 480px){
    .policy p{
        font-size: 14px;
    }
    .policy h1{
        font-size: 25px;
    }
}


/*================== About page ====================*/

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #111;
    text-wrap: nowrap;
}

.home:before{
    z-index: 777;
    counter-reset: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home.about{
    z-index: 888;
    color: #fff;
    width: 70px;
    margin-top: 50px;
    display: none;
}

.home .about h1{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 20px;
}

.home .about p{
    margin-bottom: 50px;
    font-size: 1.2rem;
}

.home .about a{
    background: #ffffff23;
    padding: 12px 30px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between
}

.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*======================= Profile =====================*/
  
a {
    text-decoration: none;
}
  
.header__wrapper header {
    width: 100%;
    background: url("https://images.unsplash.com/photo-1682685797208-c741d58c2eff?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 20% / cover;
    min-height: calc(10px + 15vw);
}
  
.header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
  
.header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
}
.header__wrapper .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}
.header__wrapper .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}
.header__wrapper .cols__container .left__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.header__wrapper .cols__container .left__col p {
    font-size: 1.2rem;
    color: #818181;
    margin: 0;
}
.header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}
.header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 1.2rem;
}
.header__wrapper .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}
.header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}
.header__wrapper .cols__container .content p {
    font-size: 1.5rem;
    color: #1d1d1d;
    line-height: 1.8em;
}
.header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.header__wrapper .cols__container .content ul li {
    display: flex;
}
.header__wrapper .cols__container .content ul i {
    font-size: 2rem;
}
.header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
}
.header__wrapper .cols__container .right__col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}
.header__wrapper .cols__container .right__col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
  
  /* Responsiveness */
  
@media (min-width: 868px) {
  .header__wrapper .cols__container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
  }
  .header__wrapper .cols__container .left__col {
    padding: 25px 0px;
  }
  .header__wrapper .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
    .header__wrapper .cols__container .right__col .photos {
    height: 365px;
    overflow: auto;
    padding: 0 0 30px;
  }
}
  
@media (min-width: 1017px) {
  .header__wrapper .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
  .header__wrapper .cols__container .right__col nav {
    flex-direction: row;
  }
  .header__wrapper .cols__container .right__col nav button {
    margin-top: 0;
  }
}

/*======================= Foooter =====================*/

footer .credit {
    background-color: #eee;
    padding: 1rem 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #000000;
    border-top: 0.1rem solid #fff3;
}
footer .credit a {
    color: #2200ff;
    text-decoration: none;
}
footer .fa {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
}
@keyframes pound {
    to {
    transform: scale(1.1);
  }
}

footer ul{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #eee;
}
footer ul li{
    font-size: 14px;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    transition: .3s;
}
footer ul li a:hover{
    color: red;
}
